/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* basic styles */
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* common styles  */
.section-title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}

/* header section styles  */
header {
  font-family: "Poppins", sans-serif;
}

/* navigation  section styles  */
.nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* banner section styles  */
.banner-title {
  font-size: 60px;
}

.banner-text {
  color: #000000bb;
  font-size: 16px;
}

.bn-icon-light-color {
  background-color: #fb536bba;
  opacity: 0.4;
}

/* feature section styles  */
.feature-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.feature-gray-img {
  filter: grayscale(10);
}

/* news-card section styles */
.card-title {
  color: #18191f;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}
.card-text {
  color: #6c6c6c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* client-review section styles */
.icon-color {
  color: #e77c40;
}

.user-name,
.user-trade {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

/* faq section styles  */
.accordion-item {
  border-top: 2px solid #d5e5fb !important;
}
.accordion-item .accordion-header {
  color: #383838;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.accordion-item .accordion-body {
  color: #7e848c;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

/* footer section styles  */
footer {
  background: #0b0d17;
}

footer ul {
  gap: 24px;
  padding-left: 0;
}

footer ul li a {
  color: #d9dbe1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.copy-text {
  color: #d9dbe1;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}
.footer-text {
  color: #d9dbe1;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
}
